.width-120 {
		width : 120px !important
	}
.width-130 {
		width : 130px !important
	}
.width-140 {
		width : 140px !important
	}
.width-150 {
		width : 150px !important
	}
.width-160 {
		width : 160px !important
	}
.width-170 {
		width : 170px !important
	}
.width-180 {
		width : 180px !important
	}
.width-190 {
		width : 190px !important
	}
.width-200 {
		width : 200px !important
	}
.width-210 {
		width : 210px !important
	}
.width-220 {
		width : 220px !important
	}
.width-230 {
		width : 230px !important
	}
.width-240 {
		width : 240px !important
	}
.width-250 {
		width : 250px !important
	}

.width-270 {
		width : 270px !important
	}

.width-290 {
		width : 290px !important
	}

.width-310 {
		width : 310px !important
	}